.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: auto auto 500px auto 500px;
    padding: 25px;
}

a.imageLink{
    text-decoration:none;
    margin-left: auto;
    margin-right: auto;
}

.background {
    background: lightblue;
}

.my-image {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    border-radius: 200px;
    box-sizing: border-box;
    border: 10px solid whitesmoke;
    opacity: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#name {
    font-family: "Monaco", "Courier New", monospace;
    text-align: center;
    background: white;
    color: black;
    grid-column: 1 / span 1;
    grid-row: 1;
    border-top: 5px solid whitesmoke;
    border-left: 5px solid whitesmoke;
    border-bottom: 5px solid whitesmoke;
    padding-bottom: 10px;
    background: lightblue;
    font-size:2vw;
}

#socials {
    font-family: "Monaco", "Courier New", monospace;
    text-align: left;
    padding: 5px;
    background: white;
    color: black;
    grid-column: 2 / span 3;
    grid-row: 1;
    border-top: 5px solid whitesmoke;
    border-right: 5px solid whitesmoke;
    border-bottom: 5px solid whitesmoke;
    background: lightblue;
}

#about-section {
    font-family: "Monaco", "Courier New", monospace;
    text-align: left;
}

#projects {
    font-family: "Monaco", "Courier New", monospace;
    padding: 5px;
    -webkit-text-stroke: .5px white;
    color: black;
    grid-column: 1 / span 2;
    grid-row: 2;
}

#project1 {
    font-family: "Monaco", "Courier New", monospace;
    padding: 15px;
    text-align: center;
    background: white;
    color: black;
    grid-column: 1 / span 2;
    grid-row: 3;
    border-top: 5px solid whitesmoke;
    border-left: 5px solid whitesmoke;
    border-bottom: 5px solid whitesmoke;
    border-right: 2.5px solid whitesmoke;
    background: lightblue;
}

#proj-title1 {
    font-family: "Monaco", "Courier New", monospace;
    text-align: center;
    color: black;
}

#project2 {
    font-family: "Monaco", "Courier New", monospace;
    padding: 15px;
    text-align: center;
    background: white;
    color: white;
    grid-column: 3 / span 2;
    grid-row: 3;
    border-top: 5px solid whitesmoke;
    border-right: 5px solid whitesmoke;
    border-bottom: 5px solid whitesmoke;
    border-left: 2.5px solid whitesmoke;
    background: lightblue;
}

#proj-title2 {
    font-family: "Monaco", "Courier New", monospace;
    text-align: center;
    color: black;
}

#education {
    font-family: "Monaco", "Courier New", monospace;
    padding: 5px;
    -webkit-text-stroke: .5px white;
    color: #000000;
    grid-column: 1 / span 2;
    grid-row: 4;
}

#skills {
    font-family: "Monaco", "Courier New", monospace;
    padding: 5px;
    -webkit-text-stroke: .5px white;
    color: black;
    grid-column: 3 / span 2;
    grid-row: 4;
}

#edu-info {
    font-family: "Monaco", "Courier New", monospace;
    padding: 15px;
    background: white;
    color: black;
    grid-column: 1 / span 2;
    grid-row: 5;
    border-top: 5px solid whitesmoke;
    border-left: 5px solid whitesmoke;
    border-bottom: 5px solid whitesmoke;
    border-right: 2.5px solid whitesmoke;
    background: lightblue;
}

#skill-info {
    font-family: "Monaco", "Courier New", monospace;
    padding: 15px;
    background: white;
    color: black;
    grid-column: 3 / span 2;
    grid-row: 5;
    border-top: 5px solid whitesmoke;
    border-right: 5px solid whitesmoke;
    border-bottom: 5px solid whitesmoke;
    border-left: 2.5px solid whitesmoke;
    background: lightblue;
}